body {
  background: #61dcbf; /*rgb(132, 206, 255);*/
}

.chart-caption {
  font-family: 'Lato', sans-serif;
  margin-top: 0px;
  background: none;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}